DATABASE_URL=sqlite+aiosqlite:///./fastapi.db # настройка подключения к БД
SECRET=YOUR_SECRET_KEY # секретный ключ для CSRF-токена

# Данные автоматически создаваемого первого суперпользователя
FIRST_SUPERUSER_EMAIL=admin@admin.ru
FIRST_SUPERUSER_PASSWORD=admin_password

# Данные для доступа к сервисному аккаунту Google Cloud Platform
EMAIL=
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
UNIVERSE_DOMAIN=